body {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Future personal website integration
header {

}
*/

.headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 48px;
}

h2,
h3 {
    font-size: 24px;
    font-style: oblique;
}

h4 {
    font: 16px normal;
    font-style: none;
}

.contact_info {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.contact_info img {
    max-height: 32px;
}

.contact_info a {
    text-decoration: none;
    color: black;
}

.content_sections,
.container_entry {
    display: flex;
    flex-direction: column;
}

.work_experience,
.education,
.certifications,
.projects {
    display: flex;
    justify-content: space-between;
}

/* Future personal website integration
footer {

}
*/