body,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    margin: 50px;
    background-color: #143352;
    color: #ddd;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    width: 900px;
}

section {
    display: flex;
    justify-content: space-between;
    width: 800px;
    border-bottom: 2px solid #ddd;
}

section h2 {
    width: 200px;
}

section div {
    width: 550px;
}

.headline h1 {
    font-size: 50px;
    margin-block: 0.33em;
}

.contact_info,
.contact_info a {
    list-style: none;
    text-decoration: none;
    color: #ddd;
}

.contact_info img {
    height: 20px;
    width: auto;
    margin-right: 5px;
}

.entry .date {
    font-style: italic;
}

.projects {
    border: none;
}